* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important; /* here we are setting the font-size for every content of the html page to 14px, no matter which size we had set below*/
}

html {
    box-sizing: border-box; /* when computing the size of a box, padding and border are folded in. */
}

*, *::before, *::after { /* this recommendation was taken from: https://adamschwartz.co/magic-of-css/chapters/1-the-box/ */
    box-sizing: inherit
  }

header {
background-color: lightblue;
}

footer {
background-color: lightgreen;
}

header, footer {
text-align: center;
}

aside {
background-color: lightcoral;
}

nav {
background-color: lightslategray;
}

article {
background-color:lightgoldenrodyellow !important; /* forcing and avoiding to use the color setting in the html code */
}

/* Classes styles */

.header {
    font-size: 46px;
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
}

.footer {
    font-size: 10px;
    display: block;
    width: 100%;
    position: absolute;
    height: 80px;
    bottom: 0; /* put the footer on the bootom of the page */
}

.content {
    font-size: 14px;
    display: block;
    width: 60%; /* 60% + 20% (nav) + 20% (aside) = 100% total */
    float: left; /* go to the left side of the page */
}

.navigation {
    font-size: 12px;
    display: block;
    width: 20%;
    float: left; /* go to the left side of the page */
}

.sidebar {
    font-size: 10px;
    display: block;
    width: 20%;
    float: left; /* and you go to the left side too */
}

/* Sorting classes by their attributes */

[class$="r"] {  /* If the class attribute finishes with r (example header, footer), the background must be magenta. */
    background-color: magenta;
}

[class*="a"]:not([class$="r"]){
    background: blue; /* If the class attribute contains an a (example nav) but do NOT finish with r, the background must be blue. */
  }

  /* Adding some media queries. This makes the columns stack on top of each other instead of next to each other */

  @media screen and (max-width: 600px) {
    .navigation, .sidebar {
        width: 100%;
    }
}